*
        @org-codedevs2/sm-p01-esteban @org-codedevs2/DF-P01-alejandro-flor
/src/        @org-codedevs2/sm-p01-esteban @org-codedevs2/DF-P01-alejandro-flor
/docs/       @org-codedevs2/sm-p01-esteban @org-codedevs2/DF-P01-alejandro-flor
/.github/    @org-codedevs2/DF-P01-alejandro-flor
/docs/rubrica-evaluacion.md    @org-codedevs2/DF-P01-alejandro-flor